Thank you for requesting a tour! Below are the details. <br />

A tour with the following information has been requested:<br /><br />

<p>
  <h3>Your Information</h3>
  Name: <%= @tour.user.first_name %> <%= @tour.user.last_name %><br />
  Email: <%= @tour.user.email %><br />
</p>

<p>
  <h3>Tour Information</h3>
  Questions: <%= @tour.additional_questions %><br />
  Tour date: <%= @tour.tour_date %><br />
  Amenities: <%= @tour.amenities.join(', ') unless @tour.amenities.nil? %><br />
</p>