<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tour_date %><br />
    <%= f.date_select :tour_date %>
  </div>

  <div class="field">
    <%= f.label :additional_questions %><br />
    <%= f.text_area :additional_questions %>
  </div>
  
  Additional amenities:<br />

  <div>
    <% @amenities.each do |amenity| %>
      <%= check_box_tag "tour[amenities][]", amenity, false, :id => "amenity_#{amenity}" %>
      <%= f.label amenity, :for => "amenity_#{amenity}" %>
      <br />
    <% end %>
  </div>
  
  <br />
  
  <div class="actions">
    <%= f.submit "Request Tour" %>
  </div>
<% end %>
