<script type="text/javascript">
  tour_id = '<%= @tour.id %>'
</script>

<h3>Your Requested Tour</h3>

<p>
  <b>Name:</b>
  <%= @tour.user.first_name %> <%= @tour.user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tour.user.email %>
</p>

<p>
  <b>Tour date:</b>
  <%= @tour.tour_date %>
</p>

<p>
  <b>Additional questions:</b>
  <%= @tour.additional_questions %>
</p>

<p>
  <b>Amenities:</b>
  <%= @tour.amenities.join(', ') unless @tour.amenities.nil? %>
</p>

<% if @tour.rating.nil? %>
  <div>
    <h2 style="margin: 0">Rate your tour experience</h2><br />
    <span class="rating">
      <% (1..5).each do |i| %>
        <%= link_to "*", edit_tour_path, :class => "rating", :rel => i, :id => "#{@tour.id}", :style => "text-decoration: none" %>
      <% end %>
    </span>
  </div>
<% else %>
<p>
  <b>Rating:</b>
  <%= @tour.rating %>
</p>
<% end %>
